body {

    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin: 0 auto;
}

.common {
    margin-right: 140px;
    margin-left: 140px;
}

.banner {
    border-radius: 16px;
    /* adding linear gradient to background image */
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Banner\ Image.png');
    background-repeat: none;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-bottom: 120px;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    padding: 177px 530px 0px 530px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 20px 344px 177px 344px;
}

.section-1 {
    text-align: center;
    align-items: center;
    font-family: Inter;
}

.section-1-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.section-1-sub-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-1-caption {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}

.image1 {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

.section-2 {
    border-radius: 16px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
}

.section-2-tilte {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding: 126px 552px 24px 126px;
    margin-bottom: 0;
}

.section-2-description {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 497px 0px 126px;
    margin-bottom: 0;
}

.primary-button {
    margin: 48px 0px 142px 158px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: none;
}

.image-section {
    margin-top: 120px;
    margin-bottom: 120px;
    width: 1600px;
    height: 1140px;
}

.section-4-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.section-4-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}

.section-4-description {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.table-image-row {
    display: flex;
}

.table-image-row img {
    width: 424px;
    height: 450px;
    flex-shrink: 0;
}

.img-style {
    margin-right: 24px;
}

.m1 {
    margin-bottom: 24px;
}

.section-5 {
    margin-top: 0;
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
}

.sec-5-img {
    margin: 80px 585px 40px 585px;
}

.sec-5-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.sec-5-des {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding: 22px 212px 48px 212px;
}

.inputs {
    display: flex;
    margin: 0px 0px 80px 336px;
    border: none;
}

.input-1 {
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 0;
    width: 348px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    padding-left: 30px;
}

.input-2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin-right: 336px;
    width: 210px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    /* padding: 26px 56px 26px 56px; */
}

.footer {
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
    background: #070211;
}

.upper-part {
    margin: 120px 275px 40px 140px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    
}
.address{
    width: 375px;
}
.lower-part{
    text-align: center;
}